body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #3157C4, #07194D);
  color: #ffffff;
  margin: 12em;
  padding: 0;
  align-items: center;
}

.login-container {
  align-items: center;  
  max-width: 900px;
  max-height: 682px;
  margin: 0 auto;
  padding: 2em;
  border-radius: 20px;
  background-color: rgba(121, 121, 121, 0.42); /* Fundo semi-transparente */
  box-shadow: 0 0 12px 6px rgba(121, 121, 121, 0.47);
}

.login-container h2 {
  text-align: justify;
  margin-bottom: 0.9rem;
  color: #ffffff;
}

.login-container h2.senha {
  margin-top: 3.5rem;
}

.login-container input {  
  width: 842px;
  height: 65px;
  padding: 0.6em;
  border: 1px rgba(74, 74, 74, 0.5) solid;
  border-radius: 2rem;
  background-color: rgba(74, 74, 74, 0.5);
  margin-bottom: 0;
  font-size: 1.2rem;
  color: #ffffff;
}

.login-container button.cadastro{
  background: none; 
  border: none; 
  cursor: pointer; 
  color: #ffffff; 
  font-size: 1.5rem; 
  font-family: Arial, sans-serif; 
  text-align: left; 
  text-decoration: none; 
  display: flex;
  margin-left: 640px; 
  margin-top: -140px;
  margin-bottom: 6rem;
  outline: none;
  transition: color 0.25s;
  &:hover {
    color: rgba(14, 14, 165, 0.4);
  }
}

.login-container button{
  width: 200px;
  height: 60px;
  padding: 0.9em;
  border: none;
  border-radius: 9rem;
  background-color: rgba(94, 94, 94, 0.5);
  color: #ffffff;
  font-size: 1.4em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.login-container button.login {
  margin-left: 350px;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  transition: background-color 0.25s;
  &:hover {
    background-color: rgba(14, 14, 165, 0.4);
  }
}

.login-container hr {
  height: 3px;
  width: 782px;
  border: 1px solid rgba(190, 190, 195, 0.5);
  background-color: rgba(190, 190, 195, 0.5);

}

.login-container button.google-login {
    margin-left: 200px;
    margin-bottom: 0;
    transition: background-color 0.25s;
    &:hover {
     background-color: rgba(14, 14, 165, 0.4);
    }

}
.login-container button.facebook-login {
  margin-top: -62px;
  margin-left: 500px;
  transition: background-color 0.25s;
  &:hover {
    background-color: rgba(14, 14, 165, 0.4);
  }
}

.login-container .social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;

}

.login-container .icon {
  margin-right: 0.5em;
  color: #07194D;
}

.login-container .social-login button {
  flex: 1;
  margin: 0 0.5em;
}