.escolha-perfil {
  margin-top: -9rem;
  text-align: center;
  font-size: 3rem;
}

.perfil-opcoes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.perfil-opcao {
  border: 0;
  padding: 16px;
  margin: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.perfil-opcao:hover { 
  transform: scale(1.05);
}

.perfil-opcao img {
  width: 13rem;
  height: 13rem;
  border-radius: 1rem;
} 

.perfil-opcao.selecionado {
  border-color: #007bff;
  color: #e7f0ff;
}

.Criar-perfil-container {
  padding: 1rem;
  margin: 3px;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Criar-perfil-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  font-size: 5rem;
  background-color: #051134;
  color: white;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.Criar-perfil-button:hover {
  background-color: #0a1f4b;
  transform: scale(1.05);
}


.Criar-perfil-container:hover .Criar-perfil-button {
  background-color: #0a1f4b;
  transform: scale(1.05);
}

.Criar-perfil{
  font-size: 1.2rem;
}